{% extends 'base.html' %}

{% block content %}
<h1>DETAIL</h1>
<hr>
<p>audience : {{movie.title}}</p>
<p>Release Dates : {{movie.release_data}} </p>
<p>Genre : {{movie.genre}}</p>
<p>Score : {{movie.score}}</p>
<p>Poster URL : {{movie.poster_url}}</p>
{% if movie.actor_image %}
<p>Actor : <img src="{{movie.actor_image.url}}" alt=""></p>
{% endif %}
<p>{{movie.description}}</p>

<a href="{% url 'movies:update' movie.pk %}" class="btn btn-info" role="button" method = "POST">UPDATE</a>
<a href="{% url 'movies:index' %}" class="btn btn-secondary" role="button">BACK</a>
<form action="{% url 'movies:delete' movie.pk %}" method = "POST">
    {% csrf_token %}
    <input type="submit" value="delete" >
</form>
{% endblock content %}